.g-tmp-chart {
  @include acumin;

  text, tspan {
    @include acumin;
  }

  rect, line, .domain {
    shape-rendering: crispEdges;
  }

  .x.axis path {
    stroke-width: 1px;
    stroke: $med-gray;
  }

  .y.axis {
    path {
      stroke-width: 1px;
      stroke: $med-gray;
    }

    .tick line {
      display: none;
    }
  }

  .x.grid {
    .domain {
      display: none;
    }

    .tick line {
      stroke: $light-gray;
      stroke-dasharray: 2px 3px;
    }
  }

  .y.grid {
    .domain {
      display: none;
    }

    .tick line {
      stroke: $light-gray;
      stroke-dasharray: 2px 3px;
    }
  }

  .axis line {
    stroke: $med-gray;
  }

  .tick text {
    @include pressura;
    letter-spacing: -0.2px;
    font-size: 11.5px;
    fill: $med-gray;

    @media (max-width: 540px) {
      font-size: 10px;
    }
  }

  &.g-tmp-bar-chart-horizontal .y .tick text {
    @include acumin;
    letter-spacing: 0;
  }
}
