.test-example {
  padding: 40px 20px;
  font-size: 40px;
}

#test-graphic-1 {
  @include pressura;
  background-color: lightcoral;
}

#test-graphic-1b {
  @include pressura;
  font-size: 20px;
  background-color: fuchsia;
}
