<!-- Typekit font package. Include to use Acumin. -->
<link rel="stylesheet" href="https://use.typekit.net/uol0rpy.css">

<div class="container">
  <div class="base-feature-header gfx-custom-header">
    <div class="post-header-meta">
      {{{ rubric.rubric_html }}}
      {{{ published.published_at_html }}}
    </div>
    <h1 class="headline">
      {{{ title }}}
    </h1>
    <h4 class="deck">
      {{{ deck }}}
    </h4>
    <div class="img" style="margin-bottom: 50px">
      <div class="photo">
        <img class="" src="{{{ photo.lead_photo_url }}}">
      </div>
      {{{ photo.caption_html }}}
    </div>
    <div class="post-byline">
      {{{ byline.byline_html }}}
    </div>
    {{{ share_tools }}}
  </div>
</div>

