<div class="hide-print graphic-container">
  <div class="graphic-container-inner full-height">
    <svg id="an-svg-you-might-want-to-rename-or-delete-who-knows" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
  </div>
  <div id="switchpoint-debug">switchpoint</div>
  <div id="switchpoint-debug-2"></div>
  <div id="measure-debug">measurement point</div>
  <div id="measure-debug-2">measurement point</div>
  <div class="maintext">
    <div class="prefix-scrolly-text step-1 full-height-minus-header">
      <div class="prefix-text-inner">
        <p>Step 1 text happens here.</p>
      </div>
    </div>
    <div class="prefix-scrolly-text step-2 full-height-minus-header">
      <div class="prefix-text-inner">
        <p>Step 2 text happens here.</p>
      </div>
    </div>
    <div class="prefix-scrolly-text step-3 full-height-minus-header">
      <div class="prefix-text-inner">
        <p>Step 3 text happens here.</p>
      </div>
    </div>
    <div class="prefix-scrolly-text step-4 full-height-minus-header">
      <div class="prefix-text-inner">
        <p>Step 4 text happens here.</p>
      </div>
    </div>
    <div class="prefix-scrolly-text step-5 full-height-minus-header">
      <div class="prefix-text-inner">
        <p>Step 5 text happens here.</p>
      </div>
    </div>
  </div>
</div>

<p class="print-only">
  <!-- TODO You might want to put some TK print only replacement text in here. -->
</p>
