/**
 * This file is intended for re-usable classes, variables, and mixins.  If
 * you encounter something in the course of your project that seems broadly
 * useful, please feel free to add it here.
 */
/*
 * VARIABLES
 */
.hidden {
  display: none; }

.invisible {
  opacity: 0; }

.hide-mobile {
  display: block; }
  @media screen and (max-width: 579px) {
    .hide-mobile {
      display: none; } }

.hide-tablet {
  display: block; }
  @media screen and (max-width: 939px) {
    .hide-tablet {
      display: none; } }

.hide-desktop {
  display: block; }
  @media screen and (min-width: 940px) {
    .hide-desktop {
      display: none; } }

#test-graphic-2 {
  background-color: paleturquoise;
  border: 5px dashed turquoise;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 400; }

/**
 * This file is intended for re-usable classes, variables, and mixins.  If
 * you encounter something in the course of your project that seems broadly
 * useful, please feel free to add it here.
 */
/*
 * VARIABLES
 */
.hidden {
  display: none; }

.invisible {
  opacity: 0; }

.hide-mobile {
  display: block; }
  @media screen and (max-width: 579px) {
    .hide-mobile {
      display: none; } }

.hide-tablet {
  display: block; }
  @media screen and (max-width: 939px) {
    .hide-tablet {
      display: none; } }

.hide-desktop {
  display: block; }
  @media screen and (min-width: 940px) {
    .hide-desktop {
      display: none; } }

.test-example {
  padding: 40px 20px;
  font-size: 40px; }

#test-graphic-1 {
  font-family: 'Pressura', monospace;
  font-weight: 400;
  background-color: lightcoral; }

#test-graphic-1b {
  font-family: 'Pressura', monospace;
  font-weight: 400;
  font-size: 20px;
  background-color: fuchsia; }
