@import 'palette';

#test-graphic-2 {
  background-color: paleturquoise;
  border: 5px dashed turquoise;
  @include acumin;
}

#dynamic-div {
  background: lightskyblue url(assets/nested-img/replay_img.png);
}
