@import "palette";

$passed: #9FB900;
$failed: #E55946;
$undecided: #E59C46;

.g-elex-status {
  &[data-status="passed"],
  &[data-status="failed"],
  &[data-status="undecided"] {
    @include pressura;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-size: 18px;
    line-height: 1;
    float: right;
    background: white;
    border-radius: 20px;
    padding: 3px 9px;
    display: flex;
    align-items: center;
    height: 32px;

    &:before {
      line-height: 0;
      width: 20px;
    }

    &:after {
      margin-left: 7px;
      margin-bottom: 2px;
    }
  }

  &[data-status="passed"] {
    border: 1px solid $passed;
    color: $passed;

    &:before {
      content: url('./assets/circle_check.svg');
    }

    &:after {
      content: 'Approved';
    }
  }

  &[data-status="failed"] {
    border: 1px solid $failed;
    color: $failed;

    &:before {
      content: url('./assets/off_close.svg');
    }

    &:after {
      content: 'Not Approved';
    }
  }

  &[data-status="undecided"] {
    border: 1px solid $undecided;
    color: $undecided;

    &:before {
      content: url('./assets/minus_circle.svg');
    }

    &:after {
      content: 'Not yet decided';
    }
  }
}
