@import "palette";
@import "charts/stylesheets/graphic-with-axes.scss";
@import "charts/stylesheets/graphic-labels.scss";

$lightblack: #353535;
$graphic-purple-2: #5641ce;
$graphic-purple-4: #d5d4e3;
$graphic-salmon-2: #e55946;
// chartreuse is such a long word!
$graphic-green-2: #a5c100;
$text-purple-2: #604bd7;
$text-purple-4: #d5d4e3;
$text-salmon-2: #f97a69;
$text-chartreuse-2: #9fb900;


.graphic-container-sidebar {
  .tick {
    @include acumin;
    text-anchor: end;
    font-weight: 100;
  }

  .data-label {
    @include acumin;
    font-weight: 100;
    fill: $lightblack;
  }

  #dd-chart-one {
    .x .tick text {
      text-anchor: middle;
    }
  }

  #dd-chart-two {
    .tick {
      text {
        fill: $lightblack;
        font-weight: 500;
        text-anchor: start;
      }
    }

    .x {
      display: none;
    }
  }

  .bar-rect {
    fill: $lightblack;
  }

  .bar-rect-nac {
    fill: $lightblack;
  }

  .bar-arraignment {
    fill: $graphic-purple-2;
  }

  .data-label-arraignment {
    fill: $graphic-purple-2;
  }
}

// HIGHLIGHT WITHIN AN OBJECT
.purple-text {
  color: $text-purple-2;
  font-weight: 400;
}

.light-purple-text {
  color: $text-purple-4;
  font-weight: 400;
}

.re-city {
  .graphic-source {
    margin-top: 5px;
  }
}

.re-city-label {
  @include acumin;
  font-size: 15px;
  font-weight: 600;
  color: $lightblack;
  text-align: center;
  margin-left: 30px;
  margin-top: 5px;
  position: absolute;

  @media screen and (max-width: 740px) {
    font-size: 12px;
    margin-left: 25px;
  }
}

.re-city-bar-chart {
  width: 48%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  display: inline-block;

  @media screen and (max-width: 740px) {
    margin-bottom: 14px;
  }

  .y {
    .tick:nth-child(odd) {
      display: none;
    }
  }

  .x {
    .tick {
      display: none;
    }

    .tick:nth-child(12n+2) {
      display: block;
    }
  }

  .grid {
    display: none;
  }

  .bar-rect-low {
    fill: $graphic-purple-4;
  }

  .bar-rect-high {
    fill: $graphic-purple-2;
  }
}

#dd-graphic-arrow {
  fill: none;
  stroke: $graphic-purple-2;
  // I know we decided that lines in like charts should be 2px
  // But perhaps for annotations, 1.5px looks better?
  stroke-width: 1.5px;
  shape-rendering: auto;
  stroke-linejoin: round;

  path {
    shape-rendering: auto;
  }
}

.re-city-bar-chart:nth-child(even){
  .y {
    .tick {
      display: none;
    }
  }
}

// SINGLE SET OF BARS OR LINES
#re-national-chart {
  .bar-rect {
    fill: $graphic-purple-2;
  }

  .data-label {
    @media screen and (max-width: 740px) {
      font-size: 11px;
    }
}

  .y {
    display: none;
  }
}

.re-national {
  @media screen and (max-width: 740px) {
    .re-graphic-source {
      margin-top: 0px;
    }
  }
}

// SINGLE SET OF BARS OR LINES WITH HIGHLIGHT
.line-chart-path {
  fill: none;
  stroke-width: 2px;
  // This does not look good :(
  shape-rendering: geometricPrecision;
}

path {
  &.violent_per_100k {
    stroke: $graphic-salmon-2;
  }

  &.property_crime_per_100k {
    stroke: $graphic-green-2;
  }
}

.fs-chart-one-container {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 740px) {
    flex-wrap: wrap;
  }

  .x {
    line {
      stroke-width: 1px;
    }

    .tick {
      text {
        display: none;
      }
    }

    .tick:nth-child(10n+2) {
      text {
        display: block;
      }
    }
  }
}

.fs-chart-one {
  width: 49%;

  @media screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 10px;
  }

  .line-subhed {
    @include acumin;
    font-weight: 600;
    margin-left: 45px;
    margin-top: 5px;
    font-size: 14px;
    position: absolute;
    line-height: 1.3em;

    @media screen and (max-width: 600px) {
      font-size: 12px;
      margin-left: 45px;
    }
  }
}

.fs-one-annotation {
  stroke: $light-gray;
  stroke-width: 1.5px;
}


// SMALL MULTIPLES
path {
    &.murder_per_100k, &.aggravated_assault_per_100k, &.robbery_per_100k {
      stroke: $graphic-purple-2;
    }

    &.rape_per_100k {
      stroke: $graphic-purple-2;
    }
}

.fs-chart-two-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tooltip-circle {
    display: none;
  }
}

.fs-chart-two {
  width: 25%;

  @media screen and (max-width: 740px) {
    width: 49%;
    margin-bottom: 10px;

    .y {
      .tick:nth-child(even) {
        display: none;
      }
    }
  }

  .line-subhed {
    @include acumin;
    font-weight: 600;
    margin-left: 35px;
    margin-top: 5px;
    font-size: 14px;
    position: absolute;
    color: $lightblack;

    @media screen and (max-width: 600px) {
      font-size: 12px;
      margin-left: 34px;
    }
  }
}

.g-annotation {
  line {
    stroke: $graphic-purple-2;
    stroke-width: 1.5px;
  }

  text {
    @include acumin;
    fill: $graphic-purple-2;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4em;
    font-weight: 100;
    letter-spacing: -0.2px;
  }
}
