<h1>{{ data['example-key-value'].title }}</h1>
<h2>{{ data['example-key-value'].dek }}</h2>
<p>{{ data['example-key-value'].text|safe }}</p>
<strong>Data can be in column format:</strong>
<ul>
{% for row in data['example-data-columns'] %}
<li>
  <strong>{{ row.type }} {{ row.day }}</strong>: {{ row.value }}
  {% if row.notes %}
  <ul>
    <li><em>Note: {{ row.notes }}</em></li>
  </ul>
  {% endif %}
</li>
{% endfor %}

<script type="text/javascript">var exampleData = {{ data['example-data-columns']|dump|safe }};</script>
