<!-- Typekit font package. Include to use Acumin. -->
<link rel="stylesheet" href="https://use.typekit.net/uol0rpy.css">

<div class="g-tmp-chart-container" style="max-width: 900px; margin: 80px auto;">
  <div>{{{ rubric.rubric_html }}}</div>
  <div>{{{ published.published_at_html }}}</div>
  <div>An update at 4:15 pm</div>
  <div class="graphic-copy">
    <h1>
      {{{ title }}}
    </h1>
    <p class="graphic-deck">
      {{{ deck }}}
    </p>
    <div>{{{ share_tools }}}</div>
    <div>{{{ byline.byline_html }}}</div>
  </div>
  <div style="max-width: 500px;">
    <img src="{{{ photo.lead_photo_url }}}" style="max-width:100%;">
    {{{ photo.caption_html }}}
  </div>
</div>

