/**
 * This file is intended for re-usable classes, variables, and mixins.  If
 * you encounter something in the course of your project that seems broadly
 * useful, please feel free to add it here.
 *
 * Avoid making changes to this file. If you need to customize any of these
 * styles, build off of them in `src/graphic.scss`.
 */

/*
 * VARIABLES
 */

$header-height: 64px;
$transition-timing: 0.25s ease-in-out;
$text-shadow: 1px 1px 10px rgba(0,0,0,0.8);

// Colors
$bg-gray:       #f6f6f4; // Site bg color
$text-black:    #111111; // Site text color
$highlight:     #ff0b3a;
$alt-highlight: #1fbec3;

// Grays
$light-gray:    #ececea; // Secondary bg color
$med-gray:      #888888; // Secondary text
$dark-gray:     #353535; // Muted black

// Chart colors: Basic fills
$fill-purple: #604bd7;
$fill-salmon: #f97a69;
$fill-green:  #a5c100;
$fill-blue:   #5cc4f7;

// Chart colors: Text (designed to show up better)
// TODO ACTUAL VALUES TK!!!
$text-purple: #604bd7;
$text-salmon: #f97a69;
$text-green:  #a5c100;
$text-blue:   #5cc4f7;

// Chart colors: Sequential color scale values
$scale-purple-1: #d5d3e3;
$scale-purple-2: #b5aee0;
$scale-purple-3: #9588de;
$scale-purple-4: #7563db;
$scale-purple-5: #553dd8;

$scale-salmon-1: #e5d2d1;
$scale-salmon-2: #e5b3a8;
$scale-salmon-3: #e59380;
$scale-salmon-4: #e57457;
$scale-salmon-5: #e5542e;

$scale-green-1:  #d6d6c8;
$scale-green-2:  #c6cc96;
$scale-green-3:  #b6c265;
$scale-green-4:  #a5b833;
$scale-green-5:  #95ae01;

$scale-blue-1:   #d5dee2;
$scale-blue-2:   #b7d8e7;
$scale-blue-3:   #99d1ed;
$scale-blue-4:   #7acbf2;
$scale-blue-5:   #5fbef2;

// Breakpoints
$screen-large-above: "(min-width: 940px)";
$screen-large-below: "(max-width: 939px)";
$screen-medium-above: "(min-width: 768px)";
$screen-medium-below: "(max-width: 767px)";
$screen-small-above: "(min-width: 580px)";
$screen-small-below: "(max-width: 579px)";
$screen-tiny-above: "(min-width: 420px)";
$screen-tiny-below: "(max-width: 419px)";
$screen-tiniest-above: "(min-width: 360px)";
$screen-tiniest-below: "(max-width: 359px)";


/*
 * MIXINS
 */

@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin acumin {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 400;
}

@mixin acumin-light {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 300;
}

@mixin acumin-semibold {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 600;
}

@mixin acumin-bold {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 700;
}

@mixin pressura {
  font-family: 'Pressura', monospace;
  font-weight: 400;
}

@mixin pressura-light {
  font-family: 'PressuraLight', monospace;
  font-weight: 400;
}

@mixin pressura-bold {
  font-family: 'PressuraBold', sans-serif;
  font-weight: 400;
}

@mixin utopia {
  font-family: 'Utopia-std', serif;
  font-weight: 400;
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin safari-animation {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
}

@mixin a-color($text-color, $hover-color) {
  a {
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px solid $hover-color;
    &:hover {
      color: $hover-color;
      text-decoration: none;
      border-bottom: 1px solid $hover-color;
    }
    &:visited {
      color: #888;
      &:hover {
        color: $hover-color;
        text-decoration: none;
        border-bottom: 1px solid $hover-color;
      }
    }
  }
}

/*
 * BASE GRAPHIC STYLES
 */
.graphic-head {
  @include acumin;
  line-height: 1.1em;
  display: block;
  color: $dark-gray;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: 300;

  @media (max-width: 740px) {
    font-size: 22px;
  }
}

.graphic-container-sidebar .graphic-head {
  line-height: 1.25;
  font-size: 24px;
  margin-top: 35px;
  margin-bottom: 22px;
  font-weight: 200;

  @media (max-width: 740px) {
    font-size: 18px;
    margin-top: 15px;
  }
}

.graphic-deck {
  @include acumin;
  display: block;
  font-size: 18px;
  margin-bottom: 28px;
  color: $dark-gray;
  font-weight: 100;
  line-height: 1.5em;

  @media (max-width: 740px) {
    font-size: 16px;
  }

  .graphic-inline-legend {
    font-weight: 600;
  }
}

.graphic-container-sidebar .graphic-deck {
  font-size: 15px;
  margin-bottom: 22px;
  line-height: 1.4em;

  @media (max-width: 740px) {
    font-size: 15px;
  }
}

.graphic-source {
  @include acumin;
  font-weight: normal;
  letter-spacing: -0.2px;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  margin-top: 22px;
  margin-bottom: 53px;
  color: $med-gray;

  a {
    color: $dark-gray;
  }

  @media (max-width: 740px) {
    font-size: 12px;
  }
}

.graphic-container-sidebar .graphic-source {
  font-size: 12px;
  line-height: 18px;
  margin-top:8px;

  @media (max-width: 740px) {
    font-size: 12px;
    line-height: 14px;
  }
}

.graphic-container-sidebar {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 31%;
  padding-right: 2.35%;
  height: 0;

  @media (max-width: 740px) {
    margin-top: 0px;
    margin-bottom: 55px;
    margin-right: 0;
    display: block;
    width: 100%;
    height:  auto;
  }
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.hide-mobile {
  display: block;
  @media #{$screen-small-below} {
    display: none;
  }
}

.hide-tablet {
  display: block;
  @media #{$screen-large-below} {
    display: none;
  }
}

.hide-desktop {
  display: block;
  @media #{$screen-large-above} {
    display: none;
  }
}
