.g-tmp-chart {
  @include acumin;

  .data-label {
    font-size: 13px;
    fill: $med-gray;
    text-anchor: middle;
  }

  &.g-tmp-bar-chart-horizontal {
    .data-label {
      text-anchor: start;

      &.label-in {
        text-anchor: end;
      }
    }
  }

}
