.g-tmp-chart {
  @include acumin;

  &.g-tmp-bar-chart-horizontal {
    .data-label {
      text-anchor: start;
    }
  }

  .data-label {
    font-size: 13px;
    fill: $med-gray;
    text-anchor: middle;
  }

}
